.DS_Store

# Editor
Wawu.code-workspace
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.gitignore

# Env
/Wawu_env
node_modules
.env.local
.env.*.local

# Debug
/Script

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fronted
dist